<div class="contact p-shadow-2 p-p-4 p-mb-4">
    <h2>Contact Me</h2>
    <p-panel header="Get in touch">
      <form>
        <div class="p-grid">
          <div class="p-col-12 p-md-6">
            <input type="text" pInputText  placeholder="Name"/>
          </div>
          <div class="p-col-12 p-md-6">
            <input type="text" pInputText  placeholder="Email"/>
          </div>
          <div class="p-col-12">
            <textarea 
            rows="5"
            placeholder="Message"
            pInputTextarea >
            </textarea>
          </div>
          <div class="p-col-12">
            <p-button label="Send"></p-button>
          </div>
        </div>
      </form>
    </p-panel>
  </div>
  