<div class="about p-shadow-2 p-p-4 p-mb-4">
    <h2>About Me</h2>
    <p-card>
      <ng-template pTemplate="content">
        <div class="p-grid">
          <div class="p-col-12 p-md-4">
            <img src="assets/profile.jpg" alt="Profile Image" class="profile-image">
          </div>
          <div class="p-col-12 p-md-8">
            <p>Hello! I am a software developer specializing in front-end development...</p>
          </div>
        </div>
      </ng-template>
    </p-card>
  </div>
  